*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

/* MAIN GRID */
.container{
    display:grid;
    grid-template-columns:250px 1fr;
    grid-template-rows:auto 1fr;
    height:100vh;
}

/* SIDEBAR */
.sidebar{
    grid-row:1 / 3;
    background:linear-gradient(#2f80c0,#2c78b5);
    color:white;
    padding:25px;
    display:flex;
    flex-direction:column;
    gap:30px;
}

.nav{
    display:flex;
    flex-direction:column;
    gap:18px;
    font-size:18px;
}

.nav div{
    display:grid;
    grid-template-columns:30px 1fr;
    align-items:center;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}

.nav div:hover{
    background:rgba(255,255,255,0.15);
}

.nav img{
    width:20px;
}

/* HEADER */
.header{
    background:#f3f4f6;
    padding:20px 40px;
    display:flex;
    flex-direction:column;
    gap:20px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.search{
    display:flex;
    align-items:center;
    gap:10px;
}
.search img{
    width:18px;
}

.search input{
    width:500px;
    height:32px;
    border-radius:20px;
    border:none;
    background:#e5e7eb;
    padding:0 15px;
}

.right{
    display:flex;
    align-items:center;
    gap:20px;
}

.bell{
    width:22px;
}

.avatar-small{
    width:40px;
    border-radius:50%;
}

/* PROFILE ROW */
.profile-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.profile-info{
    display:flex;
    align-items:center;
    gap:15px;
}

.avatar-big{
    width:60px;
    border-radius:50%;
}

.actions{
    display:flex;
    gap:15px;
}

.btn{
    background:#3b82f6;
    color:white;
    padding:10px 22px;
    border-radius:20px;
    font-weight:bold;
    transition:.2s;
}

.btn:hover{
    background:#2563eb;
    transform:translateY(-2px);
}

/* MAIN AREA */
.main{
    background:#c6e1fc;
    overflow:auto;
}

.content{
    padding:30px;
    display:grid;
    grid-template-columns:1fr 280px;
    gap:25px;
}

h3{
    margin-bottom:15px;
    color:#374151;
}

/* CARDS */
.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.card{
    position:relative;
    background:white;
    padding:20px 20px 20px 30px;
    border-radius:12px;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.card::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:6px;
    height:100%;
    background:#facc15;
    border-radius:10px 0 0 10px;
}

/* RIGHT PANELS */
.panel{
    background:white;
    padding:18px;
    border-radius:12px;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
    margin-bottom:20px;
}

/* TREND USERS */
.trend{
    display:flex;
    align-items:center;
    gap:12px;
    margin-top:12px;
}

.trend img{
    width:40px;
    border-radius:50%;
}

.trend p{
    font-size:14px;
    color:#6b7280;
}
